@inherits LayoutComponentBase

<PageTitle>File Input Error</PageTitle>

<div class="page">
    <RadzenLayout>
        <RadzenHeader class="px-4 vw-100 rz-shadow-2 bg-light">
            <a href="/">
                <RadzenText class="nab" TextStyle="TextStyle.H3" Text="File Input Sample Project" />
            </a>
        </RadzenHeader>

        <RadzenBody>
            <main>
                @Body
            </main>
        </RadzenBody>

        <RadzenNotification />
        <RadzenDialog />
    </RadzenLayout>
</div>